body {
  color: #333333;
  font-family: "Libre Baskerville", serif;
}

#logo-principale {
  width: 250px;
  margin: 1.5em 0 1.5em 0;
}

#sottotitolo {
  background-color: #fdfbf1;
  padding: 1.2em 0 1.2em 0;
  text-align: center;
  color: #0b5251;
  border-top: 1px solid #ffe6aa;
}

#sottotitolo h4 {
  margin: 0;
}

main {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.autore-centrato {
  text-align: center;
  color: #9b9b9b;
}

.featured-in {
  border-left: 2px solid #f3dfb2;
}

.featured-in h3 {
  margin: 0;
  padding-left: 1.2em;
  font-weight: lighter;
  color: #b84e1a;
}

a {
  color: #1b7c7c;
}

.divisore {
  border-color: #bfe7ff;
  color: #bfe7ff;
  opacity: 0.5;
}

li {
  margin: 1.5em;
}

#ingredients h3 {
  margin-top: 1.8em;
  margin-bottom: 0.7em;
}

main h1 {
  margin-top: 3em;
  font-weight: 500;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
}

#method {
  margin-top: 1.4em;
}

.recipe-photo {
  width: 100%;
  border-radius: 10px;
}

.title {
  text-align: center;
}

.method {
  margin-top: 3.5em;
}
